@font-face {
  font-family: 'GreatVibes';
  src: url('../../static/fonts/GreatVibes.ttf');
}

@font-face {
  font-family: 'Dosis';
  src: url('../../static/fonts/Dosis.ttf');
}

html {
  scroll-behavior: smooth;
}
